*{
  box-sizing:border-box;
  background-color:lightblue;
}
 h1{
  text-align: center;
  font-size: 50px;
  font-family: 'poppins',sans-serif;
  color: green;
  padding-top: 0px;
  background: lightgreen;
}
#p1{
  text-align: center;
  font-size: 25px;
  font-family: 'poppins',sans-serif;
  color:blue;
  background: lightblue;
  padding-top: 10px;
}
#p2{
  text-align: center;
  font-size: 25px;
  font-family: 'poppins',sans-serif;
  color:red;
  background: orange;
  padding-top: 10px;
}
#p3{
  text-align: center;
  font-size: 25px;
  font-family: 'poppins',sans-serif;
  color:solid black;
  background: grey;
  padding-top: 10px;
}
.header div{
  width:70%;
  min-width: 500px;
  min-height: 100px;
  left:50%;
  top:50%;
  margin-top: 160px;
  transform: translate(-50%,-50%);
  background: white;
  border-radius: 10px;
  position: absolute;
}
#new{
    position: relative;
    padding: 20px 20px;
}
#new input{
    width: 78%;
    height: 45px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 800;
    position: relative;
    border-radius: 5px;
}

#new input:focus{
    outline: none;
    border-color: #0d75ec;
}

 #new button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-weight: 650;
    font-size: 20px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
#new button.active{
  opacity:1;
  pointer-events: auto;
}

#ul {
    background-color: lightblue;
    padding: 10px 20px;
    margin-top: -50px;
    border-radius: 10px;
    width: 100%;
    position: relative;
  }
.li{
    background-color: #c5e1e6;
    width:75%;
    height: 50px;
    margin-bottom: 8px;
    margin-left: 180px;
    padding: 5px 10px ;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.close{
  text-align: center;
  font-size: 35px;
    background-color: #0a2ea4;
    color: #c5e1e6;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
/*
div h1{
  font-size: 45px;
  font-family: sans-serif;
  color:blue;
  background-color: white;
  text-align: center;
}
div#p1{
  font-size: 25px;
  font-family: serif;
  padding-top: 10px;
  color:Green;
  background: white;
  text-align: center;
}
div#p2{
  font-size: 25px;
  font-family: serif;
  padding-top: 10px;
  color:violet;
  background: white;
  text-align: center;
}
div#p3{
  font-size: 25px;
  font-family: serif;
  padding-top: 10px;
  color:solid black;
  background: white;
  text-align: center;
}
div#inp{
  padding: 15px;
  border-radius: 1px;
  width:400px;
  height:20px;
  pointer: cursor;
  position: absolute;
}
div#btn{
  padding:10px;
  border-radius: 1px;
}
/*
h1{
  font-size: 45px;
  font-family: sans-serif;
  color: solid white;
  text-align: center;
  padding-top: 10px;
}
p#p1{
  padding-top: 10px;
  font-size: 20px;
  font-family: sans-serif;
  color:yellow;
  text-align: center;
}
p#p2{
  padding-top: 10px;
  font-size: 20px;
  font-family: sans-serif;
  color:green;
  text-align: center;
}
p#p3{
  padding-top: 10px;
  font-size: 20px;
  font-family: sans-serif;
  color:black;
  text-align: center;
}
#inp{
  padding-top: 20px;
  width:80%;
  left: 7%;
  background-color: white;
}
#btn{
  background-color: #f0e68c;
  padding-left: 10px;
  color:red;
}
div{
  padding-top: 15px;
  padding-left: 15px;
}
*/
